.title {
  text-align: center;
}

.add-button {
  border-radius: 4px;
  margin-bottom: 16px;
}

.search-input {
  margin-bottom: 16px;
  border-radius: 4px;
}

.spinner {
  display: flex;
  justify-content: center;
}